{% extends "layout.html" %}

{% block title %}
    Profolio
{% endblock %}



{% block main %}

    <table class="table table-striped">
        <thead>
            <tr align="left">
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr align="left">
                <td colspan="4"></td>
                <td><strong>{{ grand_total }}</strong></td>
            </tr>
        </tfoot>
        <tbody>
                {% for stock in stocks %}
                <tr align="left">
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.stockname }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>{{ stock.price | usd()}}</td>
                    <td>{{ stock.total | usd()}}</td>
                </tr>
                {% endfor %}

            <tr align="left">
                <td colspan="4">CASH</td>
                <td>{{ curCash }}</td>
            </tr>
        </tbody>
    </table>


{% endblock %}
